.onlyhtml5video-container {
	width:450px;
}

.onlyhtml5video-video {
	width:100%;
}

/*video::-webkit-media-controls {
  display:none !important;
}
video::-webkit-media-controls-enclosure {
  display:none !important;
}*/