.onlyhtml5video-container {
  position: relative;
  width: 80%;
  height: 400px; }
  .onlyhtml5video-container.fullscreen-mode {
    width: 100%;
    height: 100%;
    background-color: #000; }

.onlyhtml5video-video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }

.onlyhtml5video-controls {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -40px;
  height: 40px; }
  .onlyhtml5video-controls *, .onlyhtml5video-controls *:before, .onlyhtml5video-controls *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.onlyhtml5video-play-button {
  position: relative;
  margin: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  transition: border-width 0s; }
  .onlyhtml5video-play-button.play:before {
    content: "";
    position: absolute;
    border-left: 20px solid #fff;
    border-top: 13.33333px solid transparent;
    border-bottom: 13.33333px solid transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: border-color 0.5s; }
  .onlyhtml5video-play-button.play:hover:before {
    border-left-color: #00ccff; }
  .onlyhtml5video-play-button.pause:after {
    content: "";
    position: absolute;
    border: 6.66667px solid #fff;
    border-width: 0 6.66667px;
    width: 20px;
    height: 24px;
    background: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: border-color 0.5s; }
  .onlyhtml5video-play-button.pause:hover:after {
    border-color: #00ccff; }
.onlyhtml5video-progress-bar, .onlyhtml5video-volume-bar {
  position: relative;
  margin: 0;
  width: 240px;
  height: 40px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0; }
  .onlyhtml5video-progress-bar .total, .onlyhtml5video-volume-bar .total {
    width: 90%;
    height: 10px;
    margin: 15px auto 0;
    cursor: pointer;
    background: #fff; }
    .onlyhtml5video-progress-bar .total .current, .onlyhtml5video-volume-bar .total .current {
      width: 0%;
      height: 10px;
      background: #00ccff;
      border-right: 1px solid #008cff; }
.onlyhtml5video-mute-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5); }
  .onlyhtml5video-mute-button .onlyhtml5video-unmute-status {
    position: absolute;
    border-right: 20px solid #fff;
    border-top: 13.33333px solid transparent;
    border-bottom: 13.33333px solid transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: border-color 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-unmute-status:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: -5px;
      background: #fff;
      transition: background-color 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-unmute-status:after {
      content: "";
      position: absolute;
      border-top: 3px dotted transparent;
      width: 44px;
      left: -10px;
      top: -1px;
      transform: rotate(-45deg);
      transition: border-color 0.8s, opacity 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-unmute-status:hover {
      /* border-right-color: $controlHoverColor;
      &:before {
      	background: $controlHoverColor;
      } */ }
      .onlyhtml5video-mute-button .onlyhtml5video-unmute-status:hover:after {
        border-top-color: rgba(0, 204, 255, 0.5); }
  .onlyhtml5video-mute-button .onlyhtml5video-mute-status {
    position: absolute;
    border-right: 20px solid #fff;
    border-top: 13.33333px solid transparent;
    border-bottom: 13.33333px solid transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: border-color 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-mute-status:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: -5px;
      background: #fff;
      transition: background-color 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-mute-status:after {
      content: "";
      position: absolute;
      border-top: 3px solid #fff;
      width: 44px;
      left: -10px;
      top: -1px;
      transform: rotate(-45deg);
      transition: border-top-color 0.8s; }
    .onlyhtml5video-mute-button .onlyhtml5video-mute-status:hover {
      border-right-color: #00ccff; }
      .onlyhtml5video-mute-button .onlyhtml5video-mute-status:hover:before {
        background: #00ccff; }
      .onlyhtml5video-mute-button .onlyhtml5video-mute-status:hover:after {
        border-top-color: rgba(255, 255, 255, 0.3); }
.onlyhtml5video-volume-bar {
  width: 80px; }
  .onlyhtml5video-volume-bar.grey .total .current {
    background-color: #669999; }
.onlyhtml5video-fullscreen-button {
  position: relative;
  border: 4px solid transparent;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  .onlyhtml5video-fullscreen-button.full:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    border: 4px solid #fff;
    transition: border-color 0.8s; }
  .onlyhtml5video-fullscreen-button.full:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 120%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: all 0.8s; }
  .onlyhtml5video-fullscreen-button.full:hover:after {
    border-color: #00ccff; }
  .onlyhtml5video-fullscreen-button.full:hover:before {
    height: 75%;
    background: #00ccff; }
  .onlyhtml5video-fullscreen-button.exit:before, .onlyhtml5video-fullscreen-button.exit:after {
    content: "";
    position: absolute;
    width: 24px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transition: all 0.8s; }
  .onlyhtml5video-fullscreen-button.exit:after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .onlyhtml5video-fullscreen-button.exit:hover:before, .onlyhtml5video-fullscreen-button.exit:hover:after {
    border-color: #00ccff;
    border-width: 4px;
    height: 24px;
    transform: translateX(-50%) translateY(-50%); }
